/* Variáveis de cor */
:root {
  --rosa-claro: #f8d6e3;
  --rosa: #f4a6c8;
  --roxo-claro: #d8b4e2;
  --roxo: #b185db;
  --roxo-escuro: #8a5a9b;
  --branco: #ffffff;
  --cinza-claro: #f5f5f5;
  --cinza: #e0e0e0;
  --cinza-escuro: #333333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  line-height: 1.6;
  color: var(--cinza-escuro);
  background-color: var(--branco);
}
.name{
  color:#3d0062;
}

.container {
 width: 90%;
 max-width: 1200px;
 margin: 0 auto;
 padding: 0 15px;
}
header{
background: var(--branco);
box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
top: 0;
z-index: 1000;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo h1{
  font-size: 1.8rem;
  color: var(--roxo-escuro);
}

.logo h1 span{
  color: var(--roxo);
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  margin-left: 30px;
}

nav ul li a{
  text-decoration: none;
  color: var(--cinza-escuro);
  font-weight: bold;
  transition: color 0.3s
}

nav ul li a:hover {
  color: var(--roxo);
}

/* Hero Section */
.hero{
  background:linear-gradient(135deg, var(--rosa-claro), var(--roxo-claro)); ;
  color: var(--cinza-escuro);
  padding: 150px 0 100px;
  text-align: center;
  margin-top: 70px;
}

.hero h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p{
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn{
  display: inline-block;
  background: var(--roxo-escuro);
  color: var(--branco);
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover{
  background-color: var(--roxo);
  color: var(--branco);
}

.sobre{
  padding: 80px 0;
  background-color: #b75ad3;
}

.sobre .container{
  display: flex;
  align-items: center;
     gap: 50px;
}

.sobre-texto {
  flex: 1;

}

.sobre-texto-conteudo{
min-width:  300px;

}
.sobre-texto h2 {
  color: #3d0062;
  margin-bottom: 20px;
  font-size: 2rem;
}

.sobre-texto p {
  margin-bottom: 15px;
  color: var(--cinza-escuro);
  font-size: 18px;
}

.video-container {
  flex: 1;
  width: 100%;
  margin-top: 30px;
  background-color: #b75ad3; 
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover; /* Isso cortará as bordas para preencher o espaço */
}

/* Serviços Section */
.servico{
  background: #e79bf1;
  padding: 80px 0;
  text-align: center;
}

.servico h2{
  color: #3d0062;
  margin-bottom: 50px;
  font-size: 2rem;
}

.servico-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.servico-item{
  background: var(--branco);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.servico-item:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.466);;
}

.servico-item i{
  font-size: 2rem;
  color: var(--roxo-escuro);
  margin-bottom: 20px;
}

.servico-item h3{
  color: #3d0062;
  margin-bottom: 15px;
}

/* Galeria Section */
.galeria{
  padding: 80px 0;
  background: var(--branco);
  text-align: center;
 
}

.galeria h2{
  color: #3d0062;
  margin-bottom: 50px;
  font-size: 2rem;
}

.galeria-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.galeria-item{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.galeria-item img{
  border-radius: 10px;
width: 100%;
height: 100%;
object-fit: cover;

display: block;
transition: transform 0.5s;
}

.galeria-item:hover img{
  transform: scale(1.02);
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(138, 90, 155, 0.8), transparent);
  color:var(--cinza-escuro);
  font-weight: bold;
  padding: 20px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
}
.galeria-item:hover .overlay {
  opacity: 1;
}

/* Contato Section */
.contato{
  background: #fbd8ff96;
  padding: 80px 0;
  text-align: center;
}

.contato h2{
  color: #3d0062;
  margin-bottom: 50px;
  font-size: 2rem;

}

.contato-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.info-item i{
font-size: 2rem;
color: var(--roxo-escuro);
margin-bottom: 15px;
}
.info-item a{
color: blue;
text-decoration: none;
}

/* Footer */
footer{
  background: var(--roxo-escuro);
  color: var(--branco);
  padding: 30px 0;
  text-align: center;
}

.social-links{
  margin-bottom: 20px;
}

.social-links a{
  display: inline-block;
  font-size: 1.875rem;
  color: var(--branco);
width: 50px;
border-radius: 50%;
  margin: 0 5px;
  line-height: 50px;
  transition: all 0.3s;
}

.social-links a:hover {
  transform: translateY(-5px);

}

.social-links .whatsapp:hover {
  background-color: #25D366;
  color: white;
}

.social-links .instagram:hover {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  header .container {
      flex-direction: column;
  }

  nav ul {
      margin-top: 20px;
  }

  nav ul li {
      margin: 0 10px;
  }

  .sobre .container {
      flex-direction: column;
  }
  .video-container {
    order: -1; /* Coloca o vídeo antes do texto em mobile */
    margin-bottom: 30px;
}
.video-container iframe {
  height: 250px; /* Altura menor para mobile */
}
  .hero h2 {
      font-size: 2rem;
   
  }

}

@media (max-width: 480px) {
  .logo h1 {
      font-size: 1.5rem;
  }

  .hero {
      padding: 120px 0 80px;
  }

  .hero h2 {
      font-size: 1.8rem;
  }

  .video-container iframe {
    height: 200px; /* Altura ainda menor para telas pequenas */
}
}